/* Paleta de colores */
:root {
  --color1: #4d90c7; /* principal */
  --color2: #3a7fb5;
  --color3: #276fa3;
  --color4: #135e91;
  --color5: #004d7f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(to bottom right, var(--color1), var(--color5));
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.login-box {
  background-color: #d7edf3;
  border-radius: 16px;
  padding: 2rem;
  width: 90%;
  max-width: 380px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-logo {
  width: 180px;
  margin-bottom: 1rem;
  margin-right: 20px;
}

h4 {
  margin-bottom: 1.5rem;
  color: var(--color4);
}

.form-group {
  text-align: left;
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: var(--color3);
}

.form-group input {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid var(--color2);
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
}

.form-group input:focus {
  border-color: var(--color4);
  box-shadow: 0 0 5px rgba(19, 94, 145, 0.5);
}

.btn-submit {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--color1);
  border: 2px solid var(--color4); 
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}


.btn-submit:hover {
  background-color: var(--color3);
}